{% extends 'base.html.twig' %}

{% block title %}Product details
{% endblock %}
{% block body %}

	

	<div class="container mt-5 mb-5">
		<div class="card">
			<div class="row g-0">
				<div class="col-md-6 border-end main_image">


					<img src="{{ asset(product.productImage) | imagine_filter('product_thumbnail') }}" width="400" loading="lazy">


				</div>
				<div class="col-md-6">
					<div class="p-3 right-side">
						<div class="my-3">
							<h3>{{ product.productName }}</h3>
						</div>
						<div class="my-3">
							{{ product.productBrand }}
						</div>
						<div class="my-3">
							{{ product.productOrigin }}
						</div>
						<h3>€{{ product.productPrice }}</h3>
						<div class="my-3">
							<p>{{ product.longDescription | raw }}</p>
						</div>
						<div class="buttons d-flex flex-row my-5 gap-3">
							<button class="btn btn-outline-dark">Add to cart</button>
							<a href="{{ path('app_products') }}" class="btn btn-dark">Back to products</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-6">
				<h3>Leave a review</h3>
				{{ form_start(reviewForm) }}
				{{ form_widget(reviewForm) }}
				<button class="btn btn-dark mt-3">Submit</button>
				{{ form_end(reviewForm) }}
			</div>
			<div class="col-md-6">
				<h3>Reviews</h3>
				{% for review in reviews %}
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title">Rating: {{ review.rating }}/5</h5>
							<p class="card-text">{{ review.comment }}</p>
							<p class="card-text">
								<small class="text-muted">By {{ review.user.firstName }} on {{ review.createdAt|date('Y-m-d') }}</small>
							</p>
						</div>
					</div>
				{% else %}
					<p>No reviews yet.</p>
				{% endfor %}
			</div>
		</div>
	</div>

	<footer class="py-3" style="background-color: #222222;">
		<div class="container-fluid">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item">
					<a href="#" class="nav-link px-2" style="color: #fff;">Collections</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2" style="color: #fff;">Products</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2" style="color: #fff;">Offers</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2" style="color: #fff;">Contact</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2" style="color: #fff;">About</a>
				</li>
			</ul>
			<p class="text-center" style="color: #fff;">
				All rights reserved &copy; 2023</p>
		</div>
	</footer>

{% endblock %}
